html {
    line-height: 1.15;
    font-family: "Open Sans", sans-serif;
}

h1 {
    color: #122550;
    font-size: 60px;
    margin-bottom: 10px;
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 23px;
    margin-top: 0px;
    margin-bottom: 40px;
}

.container {
    width: 60%;
    padding: 8%;
    margin-left: auto;
    margin-right: auto;
}

#content {
    min-height: 25vh;
    font: inherit;
    font-size: 16px;
    box-sizing: border-box;
    display: block;
    width: 100%;
    display: block;
    height: 200px;
    resize: vertical;
    overflow: auto;
    padding: 10px 10px;
    border-radius: 5px;
    border: 3px solid #c9c9c9;
    margin-bottom: 10px;
    -webkit-transition: border 0.2s ease-out;
    -moz-transition: border 0.2s ease-out;
    -o-transition: border 0.2s ease-out;
    -ms-transition: border 0.2s ease-out;
    transition: border 0.2s ease-out;
}

#content:focus{
    border: 3px solid #122550;
}

.counts {
    font-size: 16px;
    text-align: left;
    color: #929292;
    margin-bottom: 10px;
}

.btn {
    font: inherit;
    font-size: 100%;
    height: 40px;
    min-width: 15.7%;
    color: white;
    border: none;
    background-color: #122550;
    border-radius: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 2px;
    margin-left: 2px;
    -webkit-transition: background-color 0.2s ease-out;
    -moz-transition: background-color 0.2s ease-out;
    -o-transition: background-color 0.2s ease-out;
    -ms-transition: background-color 0.2s ease-out;
    transition: background-color 0.2s ease-out;
}

.btn:hover{
    background-color: #003ac0;
}